@import url("../css/style.css");


.container {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--surface-color);
    background-color: var(--surface-color);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
}

.container p {
    padding-top: 3rem;
    text-indent: 3em;
}
