@import url("../css/style.css");


.container {
    max-width: 600px; /* Reduzi a largura do container para 600px */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid var(--surface-color);
    background-color: var(--surface-color);
    
}

.container p {
    padding-top: 3rem;
    text-align: justify;
    margin: 50px;   
}

#switch {
    position: relative;
    width: 64px;
    margin: 26px auto;
}


@media screen and (max-width: 628px) {
    .container {
        margin: 0 10px;
    }
}