@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgba(255, 255, 255, 1);
    --bg-url: url(assets/bg-desktop.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --hightlight-color: rgba(255, 255, 255, 0.2); 
    --fonte-principal: 'Inter', sans-serif;
    --switch-bg-url: white url(assets/moon-stars.svg);
}

.light {
    --text-color: rgba(0, 0, 0, 1);
    --bg-url: url(assets/bg-desktop-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --hightlight-color: rgba(0, 0, 0, 0.1);
    --fonte-principal: 'Inter', sans-serif;
    --switch-bg-url: white url(assets/sun.svg);
}

body {
    /*background: url(assets/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;*/

    background: var(--bg-url) no-repeat top center/ cover fixed;
}

body * {
    font-family: var(--fonte-principal);
    color: var(--text-color);
}

#container {
    width: 360px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img{
    width: 112px;
   
}

#profile p {
    font-weight: 700;
    line-height: 24px;
    margin-top: 8px;
}

#switch {
    position: relative;
    width: 64px;

    margin: 10px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.light #switch button {
    right: 0;
    left: initial;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;

    padding: 24px 0;
    
}

ul li {
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    padding: 20px;
    background-color:  var(--surface-color);
    backdrop-filter: blur(4px);
    
    transition: all 0.2s;
}

li a {
    text-decoration: none;
}

li:hover {
    background-color: var(--surface-color-hover);
    border: 1px solid var(--text-color);
}

li a:active {
    color: rgb(0, 183, 255);
    text-decoration: underline;
}

#social-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    
    padding: 24px 0;

    font-size: 24px;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: all 0.2s;
    border-radius: 50%;
}

#social-links a:hover {
    background-color: var(--hightlight-color);
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

.icone-rodape {
    font-size: 20px;
}

.icone-rodape:hover {
    color: skyblue;

}