@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: white;
    --fonte-principal: 'Inter', sans-serif;
}

body {
    /*background: url(assets/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;*/

    background: black url(assets/bg-desktop.jpg) no-repeat top center/ cover fixed;
}

body * {
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
}

#container {
    width: 360px;
    margin: 56px auto 0px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img{
    width: 112px;
   
}

#profile p {
    font-weight: 700;
    line-height: 24px;
    margin-top: 8px;
}

#profile p:hover {
    color: gold;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    
}

ul li {
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 8px;
    padding: 20px;
    background-color:  rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(4px);
    
    transition: all 0.2s;
}

li a {
    text-decoration: none;
}

li:hover {
    background-color: rgb(255, 255, 255, 0.05);
    border: 1px solid white;
}

li a:active {
    color: rgb(0, 183, 255);
    text-decoration: underline;
}