* {
    margin: 0;
    padding: 0;
}

body {
    /*background: url(assets/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;*/

    background: black url(assets/bg-desktop-light.jpg) no-repeat top center/ cover fixed;
    text-align: center;
}

#container {
    width: 360px;
    height: 712px;
    border: 1px solid red;
    margin: auto;
}

#profile img{
    width: 272px;
    
}

.container__links {
    list-style: none;
    
}

.item__lista {
    border: 2px solid transparent;
    background-color: rgb(149, 149, 216);
    margin: 10px;
    width: 500px;
    height: 50px;
    
}

.item__lista a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}